name: adguardhome

services:
  adguardhome:
    image: adguard/adguardhome:v0.107.69
    container_name: adguardhome
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/data:/opt/adguardhome/work
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config:/opt/adguardhome/conf
    ports:
      - '53:53/tcp'
      - '53:53/udp'
      - '7080:80/tcp'
      - '7443:443/tcp'
      - '7443:443/udp'
      - '3000:3000/tcp'
    restart: unless-stopped
