name: lavalink

services:
  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4.1.2-alpine
    container_name: lavalink
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/application.yml:/opt/Lavalink/application.yml
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/plugins/:/opt/Lavalink/plugins/
    environment:
      - _JAVA_OPTIONS=-Xmx2G -XX:+UseZGC -XX:+ZGenerational
      - SERVER_PORT=2333
      - LAVALINK_SERVER_PASSWORD=${LAVALINK_SERVER_PASSWORD}
      - TZ=Europe/Berlin
    ports:
      - "2333:2333"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2.5G
