name: media-extras

services:
  profilarr:
    image: santiagosayshey/profilarr:beta
    container_name: profilarr
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config/profilarr-config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    ports:
      - "6868:6868"
    restart: unless-stopped

  bazarr:
    image: ghcr.io/hotio/bazarr:release-1.5.4
    container_name: bazarr
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config/bazarr-config:/config
      - ${DATA_FOLDER}:/data
      - ${ADDITIONAL_SHARE}:/data2
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Berlin
    ports:
      - "6767:6767"
    restart: unless-stopped

  tautulli:
    image: ghcr.io/hotio/tautulli:release-2.16.0
    container_name: tautulli
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config/tautulli-config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Berlin
    ports:
      - "8181:8181"
    restart: unless-stopped

  qui:
    image: ghcr.io/autobrr/qui:v1.12.0
    container_name: qui
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config:/config
      - ${DATA_FOLDER}/torrents:/data/torrents
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Berlin
    ports:
      - "7476:7476"
    restart: unless-stopped

  overseerr:
    image: ghcr.io/hotio/overseerr:release-1.34.0
    container_name: overseerr
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config/overseerr-config:/app/config
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Berlin
    ports:
      - "5055:5055"
    restart: unless-stopped
