name: changedetection

services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:0.52.9
    container_name: changedetection
    depends_on:
      playwright-chrome:
        condition: service_started
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/datastore:/datastore
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000/?stealth=1&--disable-web-security=true
      - TZ=Europe/Berlin
    ports:
      - "5005:5000"
    restart: unless-stopped
    hostname: changedetection

  playwright-chrome:
    image: browserless/chrome:latest@sha256:3678a24595187a3916dc45b800c4fe962832b581227bbef193ae6f0ec5fbc14d
    container_name: change-pw-chrome
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_BLOCK_ADS=true
      - DEFAULT_STEALTH=true
      # Ignore HTTPS errors, like for self-signed certs
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
      - TZ=Europe/Berlin
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
    hostname: playwright-chrome
