services:
  cobalt-api:
    image: ghcr.io/imputnet/cobalt:11.4.3
    container_name: cobalt-api
    environment:
      API_URL: ${API_URL}
    ports:
      - '9000:9000/tcp'
    restart: unless-stopped
    init: true
    read_only: true
