DOCKER_DATA_DIR= # Host directory for persistent data

SPARKY_FITNESS_DB_NAME=sparkyfitness_db
SPARKY_FITNESS_DB_USER=sparky
SPARKY_FITNESS_DB_PASSWORD=
SPARKY_FITNESS_APP_DB_USER=sparky_app
SPARKY_FITNESS_APP_DB_PASSWORD=

SPARKY_FITNESS_FRONTEND_URL=http://localhost:3004
SPARKY_FITNESS_API_ENCRYPTION_KEY= # Generate with `openssl rand -hex 32`
BETTER_AUTH_SECRET= # Generate with `openssl rand -hex 32`
