services:
  free-games-claimer:
    image: ghcr.io/claabs/epicgames-freegames-node:latest
    container_name: epic-free-games
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config/:/usr/app/config
    environment:
      - TZ=Europe/Zurich
    ports:
      - '3887:3000'
    restart: unless-stopped
