ROMM_AUTH_SECRET_KEY= # Generate with `openssl rand -hex 32`

# Database settings
MARIADB_ROOT_PASSWORD= # Use a unique and secure password
MARIADB_DATABASE=romm
MARIADB_USER=romm-user
MARIADB_PASSWORD= # Use a unique and secure password

# Optional metadata providers
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
STEAMGRIDDB_API_KEY=
HASHEOUS_API_ENABLED=true
PLAYMATCH_API_ENABLED=true
LAUNCHBOX_API_ENABLED=true
