name: cloudflare-tunnel

services:
  tunnel:
    image: cloudflare/cloudflared:2026.1.2
    container_name: cloudflared-tunnel
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
      - TZ=Europe/Berlin
    network_mode: host
    command: tunnel run
    restart: unless-stopped
