services:
  tunnel:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared-tunnel
    environment:
      TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN}
    network_mode: host
    command: tunnel run
    restart: unless-stopped
