name: uptimekuma

services:
  uptimekuma:
    image: louislam/uptime-kuma:2.1.0
    container_name: uptimekuma
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Berlin
    ports:
      - "3001:3001"
    restart: unless-stopped
