name: linkwarden

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-linkwarden
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/postgres:/var/lib/postgresql/data
    environment:
      - TZ=Europe/Berlin
    env_file: .env
    restart: unless-stopped

  linkwarden:
    image: ghcr.io/linkwarden/linkwarden:v2.13.3
    container_name: linkwarden
    depends_on:
      - postgres
    volumes:
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/data:/data/data
    environment:
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
      - NEXT_PUBLIC_DISABLE_REGISTRATION=true
      - TZ=Europe/Berlin
    env_file: .env
    ports:
      - "3654:3000"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 3.5G
