services:
  reverse-proxy:
    image: traefik:v3.6.0
    container_name: traefik
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      # The Web UI (enabled by --api.insecure=true)
      - 8080:8080
    environment:
      - TZ=Europe/Zurich
      - CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL}  # Cloudflare account email
      - CLOUDFLARE_API_KEY=${CLOUDFLARE_API_KEY}  # Cloudflare API key
    volumes:
      - /etc/localtime:/etc/localtime:ro
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/config:/etc/traefik
      - ${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/logs:/var/log/traefik/
